@import '../../../common.styl'

.screen
  background white

.screenWrapper
  width 100%
  margin: 30px
  margin-left 114px

.table
  border-radius 5px

.head
  background $primary

.row
  display grid
  grid-template-columns: 60px 150px 2fr 150px 1fr
  height 60px
  margin: 5px 20px
  border-bottom: 1px solid $primary
  div
    display flex
    justify-content flex-start
    align-items center

.body
  border: 1px black

.pagination
  display flex
  align-items center
  justify-content center
  gap 20px
  padding 10px 0px 10px